<div class="page-header">
    <h1>Tasks</h1>
</div>

<div>

    <table class="table table-striped" style="width:auto;">
        <thead>
        <tr>
            <th>#</th>
            <th>Task</th>
            <th>Owner</th>
            <th>Time estimate</th>
            <th>Time reported</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody class="sortable" ui-sortable="sortableOptions" ng-model="scrumItems">
        <tr ng-repeat="item in scrumItems | orderBy:'order_index' track by $index">
            <td>{{ $index }}</td>
            <td>
                <input type="text" placeholder="Task" class="form-control" ng-model="item.task_description" ng-keyup="removeScrumItem($event, item)" ng-blur="updateScrumItem(item)">
            </td>
            <td>
                <input type="text" placeholder="Owner" class="form-control" ng-model="item.owner" ng-blur="updateScrumItem(item)">
            </td>
            <td>
                <select class="form-control" ng-model="item.time_estimate" ng-options="hour for hour in hours" ng-change="updateScrumItem(item)"></select>
            </td>
            <td>
                <select class="form-control" ng-model="item.time_reported" ng-options="hour for hour in hours" ng-change="updateScrumItem(item)"></select>
            </td>
            <td>
                <select class="form-control" ng-model="item.state" ng-options="state for state in states" ng-change="updateScrumItem(item)"></select>
            </td>
        </tr>
        </tbody>
    </table>

</div>