<div class="page-header">
    <h1>Tasks</h1>
</div>

<div ng-grid="gridScrumItemsOptions" class="gridStyles" ng-if="scrumItems.length > 0" ng-keyup="keyupOnTable($event)"></div>

<div ng-show="scrumItems.length == 0">

    <form class="form-inline" role="form" name="createScrumItemForm" ng-init="setCreateFormScope(this)" novalidate>
        <div class="form-group">
            <input type="text" placeholder="Description" class="form-control" ng-model="scrumItem.task_description"
                   required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Owner" class="form-control" ng-model="scrumItem.owner" required>
        </div>
        <div class="form-group">
            <input type="number" placeholder="Time Estimate (H)" class="form-control" ng-model="scrumItem.time_estimate"
                   required>
        </div>
        <div class="form-group">
            <button ng-click="addScrumItem(scrumItem)" class="btn btn-primary margin-top-1">Create</button>
        </div>
    </form>

</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdateScrumItem" tabindex="-1" role="dialog"
     aria-labelledby="modalUpdateScrumItemLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalUpdateScrumItemLabel"></h4>
            </div>
            <div class="modal-body" id="update-scrum-modal">
                <form role="form" name="updateScrumItemForm" novalidate>
                    <div class="form-group">
                        <label for="taskDescriptionUpdate">Description</label>
                        <input type="text" id="taskDescriptionUpdate" placeholder="Description" class="form-control"
                               ng-model="scrumItemToUpdate.task_description"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="ownerUpdate">Owner</label>
                        <input type="text" id="ownerUpdate" placeholder="Owner" class="form-control"
                               ng-model="scrumItemToUpdate.owner" required>
                    </div>
                    <div class="form-group">
                        <label for="timeEstimateUpdate">Time Estimate (H)</label>
                        <input type="number" id="timeEstimateUpdate" placeholder="Time Estimate" class="form-control"
                               ng-model="scrumItemToUpdate.time_estimate" required>
                    </div>
                    <div class="form-group">
                        <label for="stateUpdate">State</label>
                        <select id="stateUpdate" ng-model="scrumItemToUpdate.state" class="form-control">
                            <option>To do</option>
                            <option>Checkout</option>
                            <option>Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button ng-click="updateScrumItem(scrumItemToUpdate)" class="btn btn-primary margin-top-1">
                            Update
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>